# Entorno virtual
.venv/
venv/
env/

# Compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Base de datos
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Documentos locales (generados)
requerimientos.pdf

# Archivos de caché
.pytest_cache/
.coverage
htmlcov/
